@media screen and (max-width: 954px) {
    .hero-descriptions h1 {
        font-size: 36px;
    }
    .hero-descriptions p {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-inline: 0;
    }

    .header {
        padding-inline: 20px;
    }
    .header-left ul {
        display: none;
    }

    .header-right {
        display: none;
    }

    .header .menuBtn {
        display: block;
        height: 28px;
        width: 36px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
        cursor: pointer;
    }

    .menuBtn .blackLine {
        width: 100%;
        height: 4px;
        background: var(--almost-black);
        transition: all 0.5s ease;
        border-radius: 2px;
    }

    .menuBtn.active {
        gap: 0;
    }

    .menuBtn.active .blackLine:first-child {
        transform: translateY(100%) rotate(45deg);
    }
    .menuBtn.active .blackLine:nth-child(2) {
        transform: rotate(45deg);
        opacity: 0;
    }
    .menuBtn.active .blackLine:last-child {
        transform: translateY(-100%) rotate(-45deg);
    }

    .hero {
        flex-direction: column-reverse;
        padding-inline: 0;
        margin-inline: 0;
        text-align: center;
        row-gap: 48px;
    }

    .hero-descriptions {
        padding-inline: 16px;
        row-gap: 20px;
    }

    .hero-descriptions h1 {
        font-size: 32px;
    }

    .hero-descriptions p {
        max-width: none;
        text-align: center;
        font-size: 15px;
    }

    .hero-descriptions a {
        margin-inline: auto;
    }

    .hero-left {
        row-gap: 48px;
    }

    h1 br {
        display: none;
    }

    .hero-right .desktop-img {
        display: none;
    }

    .hero-right .mobile-img {
        display: block;
        margin: auto;
    }

    .partners {
        padding-inline: 16px;
        justify-content: space-between;
        align-items: center;
    }
}
