/* ============================== */
/* start of Base Section */
/* ============================== */

:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: 0 0% 41%;
    --almost-black: hsl(0, 0%, 8%);
}

body {
    font-family: "Epilogue", sans-serif;
    height: 100vh;
}

h1 {
    font-size: 56px;
    line-height: 1;
    color: var(--almost-black);
}

p {
    font-size: 18px;
}

ul {
    margin: 0;
    padding: 0;
}

/* ============================== */
/* End of Base Section */
/* ============================== */

/* ============================== */
/* Start of icon class sections */
/* ============================== */

i {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 6px;
}

i.arrrow {
    height: 12px;
    width: 14px;
}

i.arrow.up {
    background: url("../images/icon-arrow-up.svg") no-repeat center;
}

i.arrow.down {
    background: url("../images/icon-arrow-down.svg") no-repeat center;
}

i.todo {
    background: url("../images/icon-todo.svg") no-repeat center;
}

i.calender {
    background: url("../images/icon-calendar.svg") no-repeat center;
}

i.remainders {
    background: url("../images/icon-reminders.svg") no-repeat center;
}

i.planning {
    background: url("../images/icon-planning.svg") no-repeat center;
}

/* i. */

/* ============================== */
/* End of icon class sections */
/* ============================== */

.container {
    padding: 32px 5%;
}

.header {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .menuBtn {
    display: none;
}

.logo {
    width: 84px;
    height: 28px;
}

/* left side of the header bar */
.header-left {
    display: flex;
    gap: 24px;
    align-items: center;
}

.nav-bar {
    display: flex;
    gap: 20px;
    color: hsl(var(--medium-gray));
}

.header-left a {
    text-decoration: none;
    color: hsl (var(--medium-gray));
}

/* rigth side of the header bar */
.header-right {
    display: flex;
    gap: 10px;
}

.header-right a {
    text-decoration: none;
    color: hsl(var(--medium-gray));
    padding: 10px 20px;
    border-radius: 12px;
}

.header-right a.register {
    border: 1px solid hsl(var(--medium-gray));
}

/* ============================== */
/* start of hero Section */
/* ============================== */

.hero {
    display: flex;
    margin-top: 20px;
    padding-left: 104px;
    padding-right: 104px;
    gap: 5%;
}

.hero-left {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: space-between;
}

.hero-descriptions {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 3%;
    justify-content: center;
}

.hero-descriptions p {
    color: hsl(var(--medium-gray));
    max-width: 30rem;
}

a.learn-more {
    width: fit-content;
    text-decoration: none;
    background: var(--almost-black);
    color: var(--almost-white);
    border: 1px solid var(--almost-white);
    padding: 10px 20px;
    border-radius: 12px;
    transition: all 0.25s ease;
}

a.learn-more:hover {
    background: var(--almost-white);
    color: var(--almost-black);
    border: 1px solid var(--almost-black);
}

.hero-right img {
    max-height: 80vh;
}

.partners {
    display: flex;
    gap: 5%;
    justify-content: space-between;
}

.hero-right .mobile-img {
    display: none;
}

/* features box */

.features-wrapper {
    position: relative;
}

.features-wrapper .feature-items {
    width: 150px;
    position: absolute;
    left: -70%;
    background-color: white;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 1px 8px 8px 8px hsl(var(--medium-gray) / 0.4);
    display: none;
    line-height: 1.5;
}
